.item {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    box-shadow: 0px 2px 8px 4px rgb(78, 78, 78);
    transition-duration: 0.2s;
    cursor: pointer;
    flex-direction: row;
    display: inline-block;

    &:hover {
        box-shadow: 0px 2px 8px 8px rgb(65, 64, 64);
        transform: translateY(-3px);
    }

    &-thumb-container {
        background-color: grey;
        position: relative;
        height: 172px;
        color: #fff;
        text-align: center;
    }

    &-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 172px;
    }

    &-description {
        vertical-align: top;
        text-align: center;
        color: black;
        display: block;
    }

    &-name {
        color: black;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.create {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    box-shadow: 0px 2px 8px 4px rgb(78, 78, 78);
    transition-duration: 0.2s;
    cursor: pointer;
    flex-direction: row;
    display: inline-block;

    &:hover {
        box-shadow: 0px 2px 8px 8px rgb(65, 64, 64);
        transform: translateY(-3px);
    }

    &-thumb-container {
        position: relative;
        height: 172px;
        text-align: center;
    }

    &-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 172px;
    }

    &-description {
        color: black;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}